################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiService/obj
/Core/obj
/FLA.Data/obj
/Fla.Service/obj
/FLADriverApp/FLADriverApp.iOS/obj
/FLADriverApp/FLADriverApp.Android/obj
/FLADriverApp/FLADriverApp/obj
/.vs/FLAWebApplication/v16/Server/sqlite3
/.vs
/ApiService/bin/Debug/netcoreapp3.1
/Core/bin/Debug/netcoreapp3.1
/FLA.Data/bin/Debug/netcoreapp3.1
/Fla.Service/bin/Debug/netcoreapp3.1
/FLAWebApplication/bin/Debug/netcoreapp3.1
/FLAWebApplication/obj/Debug/netcoreapp3.1/Razor
/FLAWebApplication/obj/Debug/netcoreapp3.1/staticwebassets
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.exe
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.csproj.CopyComplete
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.csproj.FileListAbsolute.txt
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.dll
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.MvcApplicationPartsAssemblyInfo.cs
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.RazorCoreGenerate.cache
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.RazorTargetAssemblyInfo.cs
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.RazorTargetAssemblyInfo.cache
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.pdb
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.MvcApplicationPartsAssemblyInfo.cache
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.TagHelpers.output.cache
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.Views.dll
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.TagHelpers.input.cache
/FLAWebApplication/obj/Debug/netcoreapp3.1/FLAWebApplication.Views.pdb
/FLAWebApplication/obj/Release/netcoreapp3.1
/FLAWebApplication/obj/tempkey.json
/FLAWebApplication/FLAWebApplication.csproj.user
/FLADriverApp/FLADriverApp/bin/Debug/netstandard2.0
/ApiService/.config
/ApiService/bin/Release/netcoreapp3.1
/ApiService/Properties
/Core/bin/Release/netcoreapp3.1
/FLA.Data/bin/Release/netcoreapp3.1
/Fla.Service/bin/Release/netcoreapp3.1
/FLAWebApplication/bin/Release/netcoreapp3.1
/FLAWebApplication/obj
